body{
    height: calc(100vh - 3px);
    width: 100wh;
    display: inline;
    overflow-y:none;
    margin: 0;
    padding: 0;
    background-image: url("./src/bg.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-position: center;
    background-size: 100wh;
    z-index: -1;
    background-blend-mode: overlay;
   
}

html{
    height: calc(100vh - 3px);
    margin: 0;
    padding: 0;
    
}

.header-elemets {
    display: inline;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .header-elemets a{
    color: #d7ec6b;
    text-decoration: none;
    font-size: 1.5em;
  }

  .header-elemets a:hover{
    color: #e14b30;
    text-decoration: none;
  }
  
.playScreen{
    border: 1px solid black;
    width: 35%;
    height: 700px;
    float: left;
    margin-left: 7.5%;
    margin-top: 7%;
    position: relative;
    display:grid;
    grid-template-rows: repeat(10,1fr);
    grid-template-columns: repeat(10,1fr);
    background-color: #fb6013;
}

.inputField{
    width: 50%;
    position: relative;
    float: right;
    left:0;
    border: 1px solid black;
    top: 12%;
    height: 88%; 
    resize: none;
    position: absolute;
    font-size:1cm;
    float: right;
    background-color: #38e743;
    border-bottom-left-radius: 20px;
}

.translateCodeField{
    border: 1px solid black;
    width: 33%;
    height: 80%; 
    resize: none;
    position: relative;
    font-size:1cm;
    float: right;
    right:0%;
    background-color: rgba(56, 56, 56, 0.89);
    color: white;
    border-bottom-right-radius: 20px;
}

.inputField::selection{
    background-color: rgb(160, 107, 107);
}



.buttons{
    position:relative;
    width: 100.3%;
    height: 100%;
    display: flex;
    bottom: 105px;
}

.button{
    height: 10%;
    width: 20%;
    align-self: flex-end;
    background-color: #0ac568;
    border: 3px solid #146d40;
    font-size: large;
    border-radius: 30px;
    bottom: 150px;
}

.button:hover{
    background-color: #146d40;
}

#character{
    /* background-color: black; */
    /* background-image: linear-gradient(black, yellow); */
    /* background-color:chartreuse; */
    background-image: url("./src/martian3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: black solid 1px; */
    background-size: 60px;
    z-index: 50000;
}


.map{
    background-color: #b33f05df;
}

.indexing{
    border: rgba(54, 54, 54, 0.466) solid 1px;
    font-size: 10px;
    color:black;
    z-index: 999;
    padding: 0;
    margin: 0;
}

#finish{
    border: black solid 0px;
    background-color: #b84004df;
    background-image: url("./src/portal.png");
    background-size: 50px;
    z-index: 50000;
    background-position: center;
    background-repeat: no-repeat;
}

.blackTransparentScreen, .blackTransparentScreen2{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.493);
    position:absolute;
    z-index: 999;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalFailed, #modalSuccess{
    width: 500px;
    height: 300px;
    background-color: #146d40;
    border-radius: 30px;
    border: 2px solid #0c4126;
    color: blackx;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modalFailed{
    background-color: #6d1b14;
    border-radius: 30px;
    border: 2px solid #410e0c;
}

#modalFailed button{
    background-color: #c71505;
    color:white;
}

#modalFailed button:hover{
    background-color: #8d0e03;
    color:white;
}

#modalSuccessTemp {
    height: 50px;
}

#failedTextLine{
    height: 50px;
    padding:0px;
}

#successText, #failedTextLine{
    margin-top:5px;
    margin-bottom:5px; 
}

#failedText{
    margin-top:10px;
    margin-bottom:10px;
}

#failedTitle{
    color: red;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#successTitle{
    color:chartreuse;
}

#tryAgainButton, #nextButton{
    background-color: #093b22;
    color: #04a139;
    border-radius: 10px;
    margin-top: 10px;
    height: 40px;
    width: 100px;
}

#tryAgainButton:hover, #nextButton:hover{
    background-color: #10643a;
    color: #0bdf52;
}

.codeInputField{
    top: 12%;
    height: 88.5%; 
    width: 49%;
    background-color:rgba(56, 56, 56, 0.89) ;
    font-size:1cm;
    float: right;
    right:0%;
    position: absolute;
    background-color: #186b1e;
    color: white;
    margin: 0;
    padding: 0;
    resize: none;
    border: 1px solid black;
    border-bottom-right-radius: 20px;
}

.characterPosition, .characterPosition2{
    position: relative;
    color:white;
    text-align: center;
    width: 100%;
    height: 50px;
    top:-70px;
    font-size: 40px;
    border-radius: 20px;
}

#characterInfo{
    border-radius: 20px;
}

#inputAndCodeField{
    border: 1px solid black;
    width: 49%;
    height: 750px; 
    resize: none;
    position: absolute;
    top:150px;
    right: 50px;
    font-size:1cm;
    float: right;
    background-color: #b84004d3;
    color: white;
    border-radius: 20px;
}


#canvas{
    width: 100%;
    height: 100%;
}


#replaceCodeField{
    top: 12%;
    height: 88%; 
    width: 100%;
    background-color:rgba(56, 56, 56, 0) ;
    font-size:1cm;
    float: right;
    right:0%;
    position: absolute;
    background-color: rgba(56, 56, 56, 0);
    color: white;
    margin: 0;
    padding: 0;
    resize: none;

}

#replaceField{
    
    border: 1px solid black;
    width: 49%;
    height: 750px; 
    resize: none;
    position: absolute;
    top:150px;
    right: 50px;
    font-size:1cm;
    float: right;
    background-color: #b84004d3;
    color: white;
    border-radius: 20px;
}

.replaceInput{
    width: 20%;
    height: 40px;
    font-size:xx-large;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(2, 134, 31);
    border: 1px solid white;
    color: white;
    text-align: center;
    display: inline;
}

.buttons2{
    position: relative;
    display: flex;
    width: 100.1%;
    margin-top: 65%;
    height: 15%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
}

#startButton2{
    height: 100%;
    width: 20%;
    align-self: flex-end;
}

.success{
    font-size: 70px;
    color: cyan;
}
